workflow_cayo_duraes.json
{
  "name": "Onfly – Process CSV Email",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {
          "dataPropertyAttachmentsPrefixName": "attachment_",
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "1fd9509c-8da7-44e1-900d-15f5eb06e1bd",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "nAXHxpXxAQYMRZkC",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Pega itens do trigger (suporta vários)\nconst triggerItems = $items(\"Gmail Trigger\", 0, 0);\nconst httpData = $node[\"HTTP Request\"].json;\nconst newItems = [];\n\nfor (const item of triggerItems) {\n  const binary = item.binary || {};\n  const csvKey = Object.keys(binary).find(k =>\n    (binary[k].fileName || '').toLowerCase().endsWith('.csv')\n  );\n\n  const fromEmail = item.json.from?.value?.[0]?.address || $env.EMAIL_FALLBACK || 'seu_fallback@gmail.com';\n  const dolar = httpData?.rates?.BRL ?? null;\n  const hasCsv = !!csvKey;\n  const fileName = hasCsv ? binary[csvKey].fileName : null;\n\n  const subject = hasCsv\n    ? `Confirmação: CSV processado - ${new Date().toLocaleDateString(\"pt-BR\")}`\n    : `Aviso: nenhum CSV encontrado - ${new Date().toLocaleDateString(\"pt-BR\")}`;\n\n  const body = hasCsv\n    ? `Olá,\\n\\nRecebemos seu e-mail e processamos o anexo ${fileName}.\\nA cotação do dólar hoje (USD → BRL) é: R$ ${Number(dolar).toFixed(4)}.\\n\\nAtenciosamente,\\nCayo Durães`\n    : `Olá,\\n\\nRecebemos seu e-mail mas não encontramos nenhum arquivo CSV anexado.\\nPor favor, reenvie a mensagem com o anexo.\\n\\nCotação do dólar hoje (USD → BRL): R$ ${Number(dolar).toFixed(4)}.\\n\\nAtenciosamente,\\nCayo Durães`;\n\n  newItems.push({\n    json: {\n      to: fromEmail,\n      subject,\n      body,\n      hasCsv,\n      csvFileName: hasCsv ? binary[csvKey].fileName : 'nenhum-anexo'\n    },\n    // Aqui a mudança importante: campo binário fixo \"dados\"\n    binary: hasCsv ? { dados: binary[csvKey] } : {}\n  });\n}\n\nreturn newItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        256
      ],
      "id": "5c5daef2-f2ce-4869-9894-d2ce3ecdf098",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "https://open.er-api.com/v6/latest/USD",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        256,
        0
      ],
      "id": "8e09682e-2728-45ee-8a02-8e352a1f05a0",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ebd0f161-bf1c-46c6-b5ab-db2d090ca717",
              "leftValue": "={{$json[\"csvFileName\"]}}",
              "rightValue": "=nenhum-anexo",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        624,
        256
      ],
      "id": "06044af0-3270-4a79-8cc5-3a92899ddc1e",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "={{$json[\"to\"]}}",
        "subject": "Processamento de e-mail concluído",
        "emailType": "text",
        "message": "={{$json[\"body\"]}}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1024,
        176
      ],
      "id": "ec1439c7-792f-439d-a3bf-fa435a15bda4",
      "name": "Send a message com CSV",
      "webhookId": "ff94757f-e4d0-408f-8089-e2e14186c722",
      "credentials": {
        "gmailOAuth2": {
          "id": "nAXHxpXxAQYMRZkC",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{$json[\"to\"]}}",
        "subject": "Processamento de e-mail concluído",
        "emailType": "text",
        "message": "={{$json[\"body\"]}}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        832,
        368
      ],
      "id": "cb9be0d3-f9f0-4229-ac23-299d3e6e91fd",
      "name": "Send a message sem CSV",
      "webhookId": "cdc715d0-8ffa-4f2b-84b4-040c807906f0",
      "credentials": {
        "gmailOAuth2": {
          "id": "nAXHxpXxAQYMRZkC",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/tmp/n8n-data/arquivo.csv",
        "dataPropertyName": "dados",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        832,
        176
      ],
      "id": "a641d188-dba1-4461-aa68-177172f4a887",
      "name": "Read/Write Files from Disk",
      "retryOnFail": true
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message sem CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Send a message com CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1eeca0d7-676f-46af-ac55-960d54870f7a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "409798b7fa09fadf941fb5dc6cde5199515db1a8dcf0f2cc0fe657417d170ca2"
  },
  "id": "7hGtLP592dr1h6qf",
  "tags": []
}